@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
  height: 100vh;
  @apply font-mono;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: #fff; /* ваш цвет фона */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .nav-button {
    @apply border-b-2 border-r-2 border-r-transparent border-b-transparent py-4 px-8 hover:border-b-gray-900 hover:border-r-gray-900 font-mono;
  }

  .sign-label {
    @apply p-2 w-min;
  }

  .sign-input {
    @apply w-full px-4 border-gray-900 border-2 rounded font-mono;
    @apply autofill:shadow-[inset_0_0_0px_1000px_#f3f4f6];
  }

  .btn {
    @apply px-8 py-4 border-gray-900 border-4 rounded bg-gray-900 text-gray-50 hover:border-gray-50 hover:ring-2 hover:ring-gray-900;
  }
}
